<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>

  </configSections>
  <appSettings>
    <add key="browser" value="chrome"/>
    <add key="base_url" value="http://10.0.75.1:8989"/>
    <add key="ReportingFolder" value="C:\Users\CANABRAVA\Desktop\Arthur\Testes\Relatórios"/>
    <add key="remote" value="false"/>
    <add key="seleniumHub" value=""/>
    <add key="timeout_default" value="30"/>
    <add key="MantisDataBaseConnection" value="Data Source=10.0.75.1; Initial Catalog=bugtracker;User ID=mantisbt;Password=mantisbt"/>
    <add key="DatabaseServer" value="10.0.75.1"/>
    <add key="DatabaseName" value="bugtracker"/>
    <add key="DBUser" value="mantisbt"/>
    <add key="DBPassword" value="mantisbt"/>
    <add key="Port" value="3306"/>
    <add key="SslMode" value="none"/>
    <add key="admin_username" value="administrator"/>
    <add key="admin_password" value="administrator"/>
  </appSettings>


  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
